
<%- include('header') -%>


<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log in for the existing user</span>
            <% if(locals.logout){ %>
                <div class="alter alert-success text-center">
                    <%= logout %>
                </div>
            <% } %>
        </div>
        <form action="/route/login" method="POST" class="pt-3">
            <div class="form-group">
                <small class="form-text text-muted text-left">Register email address</small>
                <input type="email" class="form-control" placeholder="email" required name="email">
                
            </div>
            <div class="form-group ">
                <input type="password" class="form-control mt-3" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-success rounded-pill mt-3">Submit</button>
        </form>
    </div>
</div>


<%- include('footer') -%>